In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
data=pd.read_csv("/Users/srikarprayaga/Desktop/UC-x-Imagine-Datathon/Data_Extract_From_World_Development_Indicators/data_point.csv")

In [14]:
data

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,South Africa,ZAF,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,73.4153538360434,76.9677349855104,76.7877506747487,77.6295638901199,75.3635314242526,70.7157223672873,70.3145301045502,89.5988191888486,..,..
1,South Africa,ZAF,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,91.4,90.1366958618164,90.2880554199219,90.6449203491211,90.9994735717773,91.3525009155273,91.7047653198242,92.0568923950195,..,..
2,South Africa,ZAF,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,84.7,85.3,85.4,86,85.5,84.2,84.4,91.2298736572266,..,..
3,South Africa,ZAF,Value lost due to electrical outages (% of sal...,IC.FRM.OUTG.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,South Africa,ZAF,Time to obtain an electrical connection (days),IC.ELC.DURS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5,South Africa,ZAF,Power outages in firms in a typical month (num...,IC.ELC.OUTG,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
6,South Africa,ZAF,Other taxes payable by businesses (% of commer...,IC.TAX.OTHR.CP.ZS,..,..,..,..,..,..,...,3.7,4.1,3.2,3.2,3.1,3.2,3.2,3.3,3.4,..
7,South Africa,ZAF,Labor tax and contributions (% of commercial p...,IC.TAX.LABR.CP.ZS,..,..,..,..,..,..,...,4.1,4.1,4,4,4,4,4,4,4,..
8,South Africa,ZAF,Firms experiencing electrical outages (% of fi...,IC.ELC.OUTG.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
9,South Africa,ZAF,Total tax and contribution rate (% of profit),IC.TAX.TOTL.CP.ZS,..,..,..,..,..,..,...,31.8,32,28.7,28.9,28.8,28.8,28.9,29.1,29.2,..
10,South Africa,ZAF,Firms experiencing losses due to theft and van...,IC.FRM.THEV.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
11,South Africa,ZAF,Profit tax (% of commercial profits),IC.TAX.PRFT.CP.ZS,..,..,..,..,..,..,...,24,23.9,21.4,21.7,21.7,21.7,21.7,21.8,21.8,..
12,South Africa,ZAF,GDP per person employed (constant 2017 PPP $),SL.GDP.PCAP.EM.KD,..,..,..,..,..,..,...,45454.68811279,45289.2557639988,44934.5235320296,44924.2114422317,43807.3354268457,44000.8699262234,43744.7272760674,43517.9582434985,43678.2058532556,..
13,South Africa,ZAF,Time required to get electricity (days),IC.ELC.TIME,..,..,..,..,..,..,...,226,226,226,226,84,109,109,109,109,..
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Last Updated: 09/16/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
#total energy produced in South Africa from 1985 to 2018 in terms of GigsWatt Hours
fred=pd.read_csv("/Users/srikarprayaga/Desktop/UC-x-Imagine-Datathon/fred.csv")
fred
#plt.plot(list(fred.loc[:,"PRENEL01ZAQ656N"]))

           DATE  PRENEL01ZAQ656N
0    1985-01-01     11072.666667
1    1985-04-01     11879.666667
2    1985-07-01     12485.333333
3    1985-10-01     11690.333333
4    1986-01-01     11374.000000
..          ...              ...
130  2017-07-01     21765.666667
131  2017-10-01     21262.000000
132  2018-01-01     20823.000000
133  2018-04-01     21483.666667
134  2018-07-01     21837.333333

[135 rows x 2 columns]

In [19]:
# power cuts based on 4 stages with stage 0 being no loadshedding to 4 being high shedding
eskom=pd.read_csv("/Users/srikarprayaga/Desktop/UC-x-Imagine-Datathon/eskom.csv")
eskom

             created_at  stage
0     9/7/2020 20:03:18      0
1     9/7/2020 14:00:22      2
2      9/7/2020 6:00:53      1
3     9/6/2020 18:16:14      0
4     9/6/2020 10:00:25      1
..                  ...    ...
417    2/5/2015 8:00:56      2
418    2/5/2015 7:00:24      0
419   2/4/2015 14:45:34      2
420  1/26/2015 15:50:32      2
421   1/9/2015 11:47:19      1

[422 rows x 2 columns]